[submodule "vendor/protobuf"]
	path = vendor/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "vendor/skynet"]
	path = vendor/skynet
	url = git@github.com:cloudwu/skynet.git
